@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

/* global style end */

h1 {
  color: #fff;
  font-size: 65px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h2 {
  color: #121212;
  font-size: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h3 {
  color: #121212;
  font-size: 24px;
  font-weight: 500;
}

p {
  color: #707070;
  font-size: 18px;
  font-weight: 600;
}

a {
  background-color: #ff5959;
  color: #fff;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* Hero Section Start */
#hero_image {
  background: url(../img/volunteer.jpg) no-repeat center;
  background-size: cover;
  height: 750px;
  overflow: hidden;
  position: relative;
}
.hero_content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.hero_paragraph {
  color: #fff;
  margin-top: 21px;
}
.span_content {
  font-size: 20px;
}
.hero_content a {
  display: inline-block;
  margin-top: 33px;
}
.hero_content .cta {
  padding: 10px 24px;
  border-radius: 5.5px;
  border: none;
}
/* hero section end */

/* donate start */
.main_section {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_heading {
  text-align: center;
  margin: 21px 0px;
}
.main_fcontainer {
  display: flex;
  justify-content: center;
}
.fitem {
  width: 110px;
  height: 110px;
  margin: 33px;
  align-self: center;
}
.fpara {
  text-align: center;
  padding-top: 43px;
}
.select {
  width: 110px;
  height: 110px;
  border: 3px solid #ff5959;
}
.custom_amount form {
  height: 250px;
  text-align: center;
  outline: none;
  border-top: none;
}
/* donate end */

/* donate plan start */
.donate_plan {
  text-align: center;
}
.donate-plan-container {
  display: flex;
  justify-content: center;
}
.item {
  background: #4f9da6;
  border: 1px solid #4f9da6;
  width: 150;
  height: 150px;
  margin: 15px;
}

/* donate plan end */

/* contribute start */
.contribute_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}
.contribute_desc {
  width: 450px;
  padding-right: 21px;
}
.contribute_desc .cta {
  display: inline-block;
  margin-top: 50px;
  padding: 10px 15px;
  border-radius: 5.5px;
}
.contribute_container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 200px;
}
.contribute_desc2 {
  width: 450px;
  padding-right: 21px;
}
.contribute_desc2 .cta {
  display: inline-block;
  margin-top: 50px;
  padding: 10px 15px;
  border-radius: 5.5px;
}
/* contribute end */

/* form start */
.update_heading {
  text-align: center;
}
.update_paragraph {
  text-align: center;
  margin: 25px 0px;
}
.form {
  background-color: #fff4d6;
  border-radius: 5.5px;
  width: 800px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
form input {
  background-color: #d9d9d9;
  border: 0;
  outline: none;
  padding: 10px 20px;
  border-bottom-left-radius: 5.5px;
  border-top-left-radius: 5.5px;
}
form .btn {
  background-color: #ff5959;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  outline: none;
  border-bottom-right-radius: 5.5px;
  border-top-right-radius: 5.5px;
  cursor: pointer;
}
/* form end */
/* footer start */
footer {
  background-color: #0b0d17;
  height: 99px;
  margin-top: 150px;
}
footer p {
  text-align: center;
  padding-top: 10px;
}
/* footer end */
