@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

/* global style end */

h1 {
  color: #fff;
  font-size: 65px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h2 {
  color: #121212;
  font-size: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h3 {
  color: #121212;
  font-size: 24px;
  font-weight: 500;
}

p {
  color: #707070;
  font-size: 18px;
  font-weight: 600;
}

a {
  background-color: #ff5959;
  color: #fff;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* Hero Section */
#hero_image {
  background: url(../img/volunteer.jpg) no-repeat center;
  background-size: cover;
  height: 750px;
  overflow: hidden;
  position: relative;
}

.hero_content {
  color: #fff;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

.span_content {
  font-size: 20px;
}

.hero_paragraph {
  color: #fff;
  margin: 25px 0px;
}

.hero_content a {
  display: inline-block;
}

.hero_content .cta {
  border: none;
  border-radius: 7px;
  margin: 12.5px;
  padding: 12px 24px;
}
/* hero section end */

/* donate start */
.donation {
  height: 300px;
  margin: 75px 0px;
  text-align: center;
}

.donation_container {
  display: flex;
  justify-content: center;
}
.donation_container .item {
  width: 99px;
  height: 99px;
  margin: 33px;
}

.paragraph {
  text-align: center;
  padding-top: 41px;
}

.para {
  width: 110px;
  height: 110px;
  border: 3px solid #ff5959;
}

.donation_amount form {
  height: 150px;
  text-align: center;
  text-decoration: none;
}
/* donate end */

/* donate plan start */
.donation_plan {
  text-align: center;
}

.donation_plan_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation_plan_container .item {
  width: 350px;
  height: 250px;
  margin: 65px;
  padding: 20px 30px;
}

/* donate plan end */

/* contribute start */
.contribute_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 150px 0px;
}

.contribute_content {
  width: 450px;
}

.contribute_content .cta {
  display: inline-block;
  margin: 50px 0px;
  padding: 10px 15px;
  border-radius: 7px;
}

.contribute_container_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 150px 0px;
  /* margin-bottom: 200px; */
}

.contribute_content_two {
  width: 450px;
}

.contribute_content_two .cta {
  display: inline-block;
  margin: 50px 0px;
  padding: 10px 15px;
  border-radius: 7px;
}

.contribute_container_three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px 0px;
}

.child_img {
  background-size: cover;
  height: 750px;
  overflow: hidden;
  position: relative;
}

.contribute_container_three .cta {
  display: inline-block;
  margin: 50px 0px;
  padding: 10px 15px;
  border-radius: 7px;
}

/* form start */
.update_heading {
  text-align: center;
}
.update_paragraph {
  text-align: center;
  margin: 25px 0px;
}
.form {
  background-color: #fff4d6;
  border-radius: 5.5px;
  width: 800px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
form input {
  background-color: #d9d9d9;
  border: 0;
  outline: none;
  padding: 10px 20px;
  border-bottom-left-radius: 5.5px;
  border-top-left-radius: 5.5px;
}
form .btn {
  background-color: #ff5959;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  outline: none;
  border-bottom-right-radius: 5.5px;
  border-top-right-radius: 5.5px;
  cursor: pointer;
}
/* form end */
/* footer start */
footer {
  background-color: #0b0d17;
  height: 99px;
  margin-top: 150px;
}
footer p {
  text-align: center;
  padding-top: 10px;
}
/* footer end */
