@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

/* global style end */

h1 {
  color: #fff;
  font-size: 65px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h2 {
  color: #121212;
  font-size: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h3 {
  color: #121212;
  font-size: 24px;
  font-weight: 500;
}

p {
  color: #707070;
  font-size: 18px;
  font-weight: 400;
}

a {
  background-color: #ff5959;
  color: #fff;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
/* Contribute Or Aside Start */
.contribute_container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contribute_image2 {
}
.contribute_desc2 {
}

/* form start */
.update_heading {
  text-align: center;
}
.update_paragraph {
  text-align: center;
  margin: 25px 0px;
}
.form {
  background-color: #fff4d6;
  border-radius: 5.5px;
  width: 800px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
form input {
  background-color: #d9d9d9;
  border: 0;
  outline: none;
  padding: 10px 20px;
  border-bottom-left-radius: 5.5px;
  border-top-left-radius: 5.5px;
}
button {
  background-color: #ff5959;
  padding: 10px 20px;
  border: 0;
  outline: none;
  border-bottom-right-radius: 5.5px;
  border-top-right-radius: 5.5px;
  cursor: pointer;
}
/* form end */
/* footer start */
footer {
  background-color: #0b0d17;
  height: 99px;
  margin-top: 150px;
}
footer p {
  text-align: center;
  padding-top: 10px;
}
/* footer end */
